{{yield}}
<div>
  <div>
    Sum of:
    {{#each this.allNums as |val|}}
    <span> {{val}} </span>
    {{/each}}
    is equal to {{sum ...this.allNums}}
  </div>
  <div>
    Sum of:
    {{#each this.notAllNums as |val|}}
    <span> {{if val val "undefined/null"}} </span>
    {{/each}}
    is equal to {{sum ...this.notAllNums}}
  </div>
  <div>
    5 vs 5 ? {{ eq 5 5 }}
  </div>
  <div>
    5 vs 10 ? {{ eq 5 10 }}
  </div>
  <div>
    10 vs 5 ? {{ gte 5 5 }}
  </div>
  <div>
    5 vs 10 ? {{ gte 5 10 }}
  </div>
</div>